.content {
  height: 100vh;
  overflow: hidden;
}
.list-friends {
  overflow: auto !important;
  height: 60vh;
}
.list-chats {
  overflow: auto !important;
  height: 60vh;
  padding: 12px;
}
.friend-chat {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
